.match-post-wrapper {
	.seeker-match-hidden p {
		font-size: 14px;
		color: $light-grey;
	}

	tooltip tip {
		color: $red;
		background-color: $xlight-grey;
		white-space: pre;

		tip-arrow {
			border-top-color: $xlight-grey !important;
		}
	}

	p {
		line-height: 1.5em;
	}

	&:hover {
		.match-options {
			opacity: 1;
			transition: opacity .2s linear;
		}
	}

	.match-options {
		position: absolute;
		top: 0;
		left: 0;
		list-style: none;
		padding: 0;
		font-size: 14px;
		line-height: normal;
		margin: 10px;
		text-align: right;
		opacity: 0;
		transition: opacity .2s linear;
		z-index: 1;

		li {
			display: inline;
			cursor: pointer;
			margin: 5px;

			&.option-hide:hover {
				color: $red;
			}

			&.option-star:hover {
				color: $orange;
			}
		}
	}

	.match-content {
		@include shadow();
		border-radius: 4px;
		margin-bottom: 10px;
		position: relative;
		padding: 0;

		.room-icons,
		.apartment-icons {
			padding: 0;

			.icon-wrapper {
				display: inline-block;
				position: relative;
				@include tooltip($light-red, $white, bottom);

				.tooltip {
					bottom: -20px;
				}
			}

			.icon {
				@include icon();
				height: 40px;
			}
		}

		.match-graph-wrapper {
			border-radius: 4px;
			position: relative;
			text-align: center;
			background-color: $white;
			padding: 5px;

			.match-user-and-address{
				.room-price {
					color: $black;
					padding: 4px;
				}

				.match-address {
					text-transform: capitalize;
					margin: 3px 0 0 0;
					font-size: 22px;
					font-weight: bolder;
					color: $red;
				}

				.match-preferences {
					margin: 0;
				}

				.match-user-name {
					margin: 0;
					color: $grey;
				}

				.match-user-image {
					position: absolute;
					width: 100%;
					bottom: 35px;
					font-size: 25px;
					font-weight: bolder;
					color: $red;
					text-align: center;
					top: 10px;
					left: 0;

					img {
						cursor: pointer;
						border-radius: 50%;
						max-width: 50px;
					}
				}
			}
		}

		.match-media-slides {
			.match-media-nav {
				width: 100%;
				background-color: rgba($white, .85);
				text-align: center;
				position: absolute;
				z-index: 1;

				.media-nav-buttons {
					display: flex;
					flex-direction: row;
					list-style: none;
					padding: 0;

					.media-nav-button {
						flex-grow: 1;
						display: inline;
						border-top: 4px solid transparent;
						border-bottom: 4px solid transparent;
						transition: border-top .1s ease-out;

						&:hover {
							cursor: pointer;
							border-top: 4px solid $xlight-red;
							transition: border-top .1s ease-in;
						}

						.icon-contacted {
							margin: 5px;
							color: $green;
						}
					}
				}
			}

			.match-apartment,
			.match-room {
				position: relative;

				.match-apartment-image,
				.match-room-image {
					position: relative;
					height: 400px;
					overflow: hidden;

					&:not(.no-image) {
						cursor: pointer;
					}

					img {
						width: 100%;
						position: absolute;
						bottom: 0;
						transition: all .2s ease;
					}

					&:hover {
						img {
							transform: scale(1.10);
						}
					}

					&.no-image {
						img {
							bottom: -100px;
						}
					}
				}

				.match-apartment-details,
				.match-room-details {
					position: absolute;
					width: 100%;
					background-color: rgba($white, .9);
					bottom: 0;

					.match-apartment-description,
					.match-room-description {
						margin: 0;
						padding: 5px;
						color: $light-red;
						font-weight: bolder;
						letter-spacing: 1px;
						font-size: 16px;
					}

					.apartment-icons,
					.room-icons {
						padding: 0 5px;

						li {
							margin: 5px 7px;
						}
					}
				}
			}

			.match-map {
				ng-map {
					height: 400px;
				}
			}

			.match-messaging {
				.message-wrapper {
					height: 400px;
					padding: 50px;
					box-sizing: border-box;
					position: relative;

					.message-contacted-tooltip {
						border: 1px solid $light-grey;
						font-size: 14px;
						border-radius: 4px;
						background: $xlight-grey;
						padding: 5px 10px;
					}

					.message-text-area {
						resize: none;
						position: relative;
						width: 100%;
						height: 150px;
						border: 1px solid $light-grey;
						font-size: 18px;
						font-family: $font-family;
						padding: 10px;

						&:focus {
							outline: none;
							border: 1px solid $light-red;
						}
					}

					.message-send-button {
						position: absolute;
						cursor: pointer;
						text-align: center;
						background-color: $pref-green;
						color: white;
						border-radius: 50px;
						right: 30px;
						display: block;
						margin: 20px;
						padding: 12px;
						width: 100px;

						&:hover {
							background-color: darken($pref-green, 5%);
						}

						&.sent {
							background-color: lighten($xlight-grey, 3%);
							color: $pref-green;
							border: 1px solid lighten($pref-green, 35%);
							pointer-events: none;
						}
					}
				}
			}
		}

	}
}
