<div class="match-post-wrapper">
	<div class="seeker-match-hidden" ng-if="!ctrl.matchIsVisible">
		<p>Hidden match with {{ ctrl.content.user.firstName }} <a ng-click="ctrl.unhide()">Unhide</a> </p>
	</div>
	<div class="match-content" ng-if="ctrl.matchIsVisible">
		<ul class="match-options">
			<li class="option-hide" ng-click="ctrl.hide()"><i class="fa fa-close"></i> Hide Match</li>
			<li class="option-star" ng-click="ctrl.toggleStar()">
				<span ng-if="!ctrl.content.isFavorite"><i class="fa fa-star-o"></i> Star This</span>
				<span ng-if="ctrl.content.isFavorite"><i class="fa fa-star"></i> Unstar</span>
			</li>
		</ul>
		<div class="match-graph-wrapper">
			<round-progress
			max="100"
			current="ctrl.content.matchPercentage"
			color="#2ECC71"
			bgcolor="#eaeaea"
			radius="30"
			stroke="10"
			clockwise="true"
			responsive="false"
			duration="800"
			animation="easeInOutQuart"
			animation-delay="0">
		</round-progress>

		<div class="match-user-and-address">
			<div class="match-user-image">
				<img ng-src="{{ ctrl.content.user.photoUrl }}" />
			</div>
			<p class="match-address"><span class="room-price">{{ ctrl.content.room.price }}&#8362</span>| {{ ctrl.content.apartment.address }}, {{ ctrl.content.apartment.city }}</p>
			<p class="match-user-name">{{ ctrl.content.matchPercentage | number:1 }}% Match with {{ ctrl.content.user.firstName + ' ' + ctrl.content.user.lastName }}</p>
			<div class="match-preferences">
				<preference-viewer ng-model="ctrl.content.preferences"></preference-viewer>
			</div>
		</div>
	</div>
	<div class="match-content">
		<div class="match-media-slides">
			<div class="match-media-nav">
				<ul class="media-nav-buttons">
					<li class="media-nav-button" ng-click="ctrl.setSlide('roomImage')">Room</li>
					<li class="media-nav-button" ng-click="ctrl.setSlide('apartmentImage')">Apartment</li>
					<li class="media-nav-button" ng-click="ctrl.setSlide('map')">Map</li>
					<li class="media-nav-button" ng-click="ctrl.setSlide('messaging')"><i ng-if="ctrl.content.hasConversation" class="fa fa-check icon-contacted"></i>Contact {{ ctrl.content.user.firstName }}</li>
				</ul>
			</div>

			<div class="match-apartment" ng-show="ctrl.currentSlide === 'apartmentImage'">
				<div class="match-apartment-image">
					<img ng-src="{{ ctrl.content.apartment.photoUrl || './assets/images/user-photo-placeholder.png' }}"/>
				</div>
				<div class="match-apartment-details">
					<h4 class="match-apartment-description">{{ ctrl.content.apartment.size }}sqm with {{ ctrl.content.apartment.totalRooms }} Rooms ({{ ctrl.content.apartment.freeRooms }} Available) and {{ ctrl.content.apartment.totalRoomates}} Roommates total. <span ng-if="ctrl.content.apartment.approximateExpences > 0">Expences: {{ ctrl.content.apartment.approximateExpences }}</span></h4>
					<ul class="apartment-icons">
						<li class="icon-wrapper" ng-repeat="(icon, url) in ctrl.apartmentIcons" ng-if="ctrl.content.apartment[icon]">
							<span class="icon" ng-include="url"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="match-room" ng-show="ctrl.currentSlide === 'roomImage'">
				<div class="match-room-image">
					<img ng-src="{{ ctrl.content.room.photoUrl || './assets/images/user-photo-placeholder.png' }}"/>
				</div>
				<div class="match-room-details">
					<h4 class="match-room-description">Room is {{ ctrl.content.room.size }}sqm.</h4>
					<ul class="room-icons">
						<li class="icon-wrapper" ng-repeat="(icon, url) in ctrl.roomIcons" ng-if="ctrl.content.room[icon]">
							<span class="icon" ng-include="url"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="match-map" ng-if="ctrl.currentSlide === 'map'">
				<ng-map map-lazy-load class="google-map" center="{{ ctrl.mapCenter.lat }},{{ ctrl.mapCenter.lng }}" disable-default-u-i="true">
					<marker position="{{ ctrl.mapCenter.lat }}, {{ ctrl.mapCenter.lng}}"></marker>
				</ng-map>
			</div>

			<div class="match-messaging" ng-show="ctrl.currentSlide === 'messaging'">
				<div class="message-wrapper">
					<div class="message-contacted-tooltip" ng-if="ctrl.content.hasConversation">Hey! You have already sent a message to {{ ctrl.content.user.firstName }}. See the full conversation in your <a ui-sref="inbox">Inbox</a>.</div>
					<h3>Send {{ ctrl.content.user.firstName }} a message and let them know you are interested in this room!</h3>
					<textarea class="message-text-area" placeholder="Living together starts with a 'Hi'!" ng-model="ctrl.matchMessage"></textarea>
					<div class="message-send-button" ng-click="ctrl.sendMatchMessage(ctrl.content.user.id)" ng-class="{ 'sent' : ctrl.messageStatus === ctrl.messageStatuses.SENT }">
						<span ng-if="ctrl.messageStatus === ctrl.messageStatuses.NOT_SENT"><i class="fa fa-paper-plane-o"></i> Send</span>
						<span ng-if="ctrl.messageStatus === ctrl.messageStatuses.SENDING"><i class="fa fa-spinner fa-spin"></i> Sending..</span>
						<span ng-if="ctrl.messageStatus === ctrl.messageStatuses.SENT"><i class="fa fa-check"></i> Sent!</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
