<div class="apartment-details-form">
	<div class="apartment-form">
		<rm-select ng-model="ctrl.apartmentDetails.city" options="ctrl.cityOptions"></rm-select>
		<input floating-label size="100" type="text" ng-model="ctrl.apartmentDetails.address" placeholder="Address"/>
		<br>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.size" placeholder="Apartment size" floating-label/>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.floor" placeholder="Floor Number"/>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.totalRooms" placeholder="Total Rooms"/>
		<br>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.totalRoomates" placeholder="Total Roomates"/>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.freeRooms" placeholder="Free rooms"/>
		<input floating-label type="number" ng-model="ctrl.apartmentDetails.approximateExpences" placeholder="Approx. Expences"/>
		<br>
		<input type="checkbox" ng-model="ctrl.apartmentDetails.isFurnished" /> Furniture
		<input type="checkbox" ng-model="ctrl.apartmentDetails.hasLivingRoom" /> Living Room
		<input type="checkbox" ng-model="ctrl.apartmentDetails.hasElevator" /> Elevator
		<input type="checkbox" ng-model="ctrl.apartmentDetails.hasParking" /> Parking
		<input type="checkbox" ng-model="ctrl.apartmentDetails.isRenovated" /> Renovated
	</div>
	<div class="apartment-image-container image-uploader" type="file" ngf-select="ctrl.uploadApartmentImage($files)">
		<div class="upload-image-label" ng-if="!ctrl.apartmentDetails.photoUrl"><i class="fa fa-camera"></i> Add Apartment Image</div>
		<div class="uploaded-image" ng-if="ctrl.apartmentDetails.photoUrl">
			<img ng-src="{{ ctrl.apartmentDetails.photoUrl }}"/>
		</div>
	</div>
</div>
