<div>
	<input type="number" ng-model="ctrl.apartmentDetails.size" placeholder="Apartment size"/>
	<input type="number" ng-model="ctrl.apartmentDetails.floor" placeholder="Floor #"/>
	<input type="number" ng-model="ctrl.apartmentDetails.totalRooms" placeholder="Total Rooms"/>
	<input type="number" ng-model="ctrl.apartmentDetails.totalRoomates" placeholder="Total Roomates"/>
	<input type="number" ng-model="ctrl.apartmentDetails.freeRooms" placeholder="Free rooms"/>
	<input type="number" ng-model="ctrl.apartmentDetails.approximateExpences" placeholder="Approx. Expences"/>
	<br>
	<input type="checkbox" ng-model="ctrl.apartmentDetails.isFurnished" /> Furniture
	<input type="checkbox" ng-model="ctrl.apartmentDetails.hasLivingRoom" /> Living Room
	<input type="checkbox" ng-model="ctrl.apartmentDetails.hasElevator" /> Elevator
	<input type="checkbox" ng-model="ctrl.apartmentDetails.hasParking" /> Parking
	<input type="checkbox" ng-model="ctrl.apartmentDetails.isRenovated" /> Renovated
</div>
