<div>
	<input type="number" ng-model="ctrl.roomDetails.price" placeholder="Room price"/>
	<input type="number" ng-model="ctrl.roomDetails.size" placeholder="Room size (m^2)"/>
	<input type="checkbox" ng-model="ctrl.roomDetails.isFurnished" /> Furniture
	<input type="checkbox" ng-model="ctrl.roomDetails.hasBalcony" /> Balcony
	<input type="checkbox" ng-model="ctrl.roomDetails.seperateBathroom" /> Separate Bathroom
	<input type="checkbox" ng-model="ctrl.roomDetails.airConditioned" /> Air Conditioned
</div>
