$preference-score2: $pref-green;
$preference-score1: $pref-orange;
$preference-score0: $pref-grey;
$preference-score-1: $pref-xlight-red;
$preference-score-2: $pref-red;

@keyframes subtle-pop {
	0% {
		opacity: 0;
		margin-top: 10px;
	}

	50% {
		margin-top: -5px;
		opacity: .5;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}

.preference-buttons {
	text-align: center;

	.preference-button-wrapper {
		@include no-select();
		display: inline-block;
		position: relative;

		.preference-button {
			cursor: pointer;
			width: 100px;
			height: 100px;
			position: relative;

			.icon {
				@include icon();
				text-align: center;
				height: 60px;
				width: 100%;
				position: absolute;
				display: block;
				border-bottom: 2px solid;
				border-color: rgba($light-grey, .3);
				transition: all .1s ease-out;
			}

			&.preference-score2 {
				.icon {
					border-color: $preference-score2;
					fill: $preference-score2;
				}

				.pref-title {
					color: $preference-score2;
				}
			}

			&.preference-score1 {
				.icon {
					border-color: $preference-score1;
					fill: $preference-score1;
				}

				.pref-title {
					color: $preference-score1;
				}
			}

			&.preference-score0 {
				//.icon {
				//	border-color: $preference-score0;
				//	fill: $preference-score0;
				//}
				//
				//.pref-title {
				//	color: $preference-score0;
				//}
			}

			&.preference-score-1 {
				.icon {
					border-color: $preference-score-1;
					fill: $preference-score-1;
				}

				.pref-title {
					color: $preference-score-1;
				}
			}

			&.preference-score-2 {
				.icon {
					border-color: $preference-score-2;
					fill: $preference-score-2;
				}

				.pref-title {
					color: $preference-score-2;
				}
			}

			.pref-pop {
				@include shadow();
				//display: none;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				list-style: none;
				font-size: 14px;
				width: 120px;
				background-color: rgba($white, .95);
				padding: 0;
				margin: 14px 0;
				top: 60px;
				left: -10px;
				transition: opacity .2s ease-out;

				.pref-option {
					padding: 0 10px;

					&:hover {
						background-color: rgba($xlight-red, .3);
					}
				}
			}

			.pref-title {
				display: none;
				font-size: 14px;
				font-weight: bolder;
				width: 100%;
				color: $black;
				position: absolute;
				top: -10px;
			}
		}

		&:hover {
			.icon {
				fill: $black;
				border-bottom-width: 4px;
				//opacity: .5;
			}

			.pref-pop {
				//display: block;
				visibility: visible;
				opacity: 1;
				transition: opacity .2s ease-in;
			}

			.pref-title {
				display: block;
				animation: subtle-pop .3s;
				animation-fill-mode: forwards;
			}
		}
	}
}
