<div class="preference-buttons">
	<div ng-repeat="(preferenceKey, title) in ctrl.preferenceTitles" class="preference-button-wrapper">
		<!-- <div class="preference-button preference-score{{ ctrl.prefScores[preferenceKey] }}" ng-click="ctrl.preferenceClick(preferenceKey)" tooltips tooltip-template="{{ title }}" tooltip-side="bottom" tooltip-class="pref-tooltip"> -->
		<div class="preference-button preference-score{{ ctrl.prefScores[preferenceKey] }}">
			<li class="pref-title">{{ title }}</li>
			<div class="icon" ng-include="ctrl.preferenceIcons[preferenceKey]"></div>
			<ul class="pref-pop">
				<li class="pref-option preference-score2" ng-click="ctrl.preferenceClick(preferenceKey, 'veryImportant')">Very Important</li>
				<li class="pref-option preference-score1" ng-click="ctrl.preferenceClick(preferenceKey, 'important')">Important</li>
				<li class="pref-option preference-score0" ng-click="ctrl.preferenceClick(preferenceKey, 'neutral')">Don't care</li>
				<li class="pref-option preference-score-1" ng-click="ctrl.preferenceClick(preferenceKey, 'preferNot')">Prefer not</li>
				<li class="pref-option preference-score-2" ng-click="ctrl.preferenceClick(preferenceKey, 'noGo')">No Go</li>
			</ul>
		</div>
	</div>
	<div class="icon" ng-include="ctrl.preferenceIcons[vegan]"></div>
</div>
