<div class="app-view matches-view">
	<div class="strip">
		<h2>Matches</h2>
		<h3 class="title title-matches-found" ng-if="matches.matchesArray.length > 0">We have found {{ matches.matchesArray.length }} great {{ matches.matchesArray.length > 1 ? 'matches' : 'match' }} for you!</h3>
	</div>
	<div class="matches-loading-overlay" ng-show="!matches.matchesArray">
		<loader></loader>
	</div>
	<div class="container" ng-if="matches.matchesArray">
		<div>
			<div class="no-matches" ng-if="matches.hasNoMatches">
				<h3>SORRY</h3>
				<p>We couldn't find any matching roommates for you</p>
				<a ui-sref="profile" class="cta-edit-profile">Edit Profile</a>
			</div>
			<div class="match-filter-options" ng-if="matches.matchesArray.length > 0">
				<div class="form-section">
					<h4 class="title">You can filter the results further with these options</h4>
					<div class="select-wrapper">
						<rm-select ng-model="matches.filters.starred" options="['All', 'Starred', 'Unstarred']"></rm-select>
						<rm-select ng-model="matches.filters.contacted" options="['All', 'Previously Contacted', 'Not Contacted']"></rm-select>
					</div>
				</div>
			</div>
			<div class="match-lists-container" ng-if="matches.matchesArray.length > 0">
				<ul class="offerer-matches-list match-list" ng-if="matches.showMatchesForOfferer">
					<li class="match-item" ng-repeat="match in matches.matchesArray
					| filter: (matches.filters.starred !== 'All' || '') && {isFavorite: matches.filters.starred === 'Starred'}
					| filter: (matches.filters.contacted !== 'All' || '') && {hasConversation: matches.filters.contacted === 'Previously Contacted'}
					| orderBy: 'matchPercentage':true">
						<offerer-match-post ng-model="match"></offerer-match-post>
						<hr>
					</li>
				</ul>
				<ul class="seeker-match-list match-list" ng-if="matches.showMatchesForSeeker">
					<li class="match-item" ng-repeat="match in matches.matchesArray
					| filter: (matches.filters.starred !== 'All' || '') && {isFavorite: matches.filters.starred === 'Starred'}
					| filter: (matches.filters.contacted !== 'All' || '') && {hasConversation: matches.filters.contacted === 'Previously Contacted'}
					| orderBy: 'matchPercentage':true">
						<seeker-match-post ng-model="match"></seeker-match-post>
						<hr>
					</li>
				</ul>
				<div class="matches-end">
					<h3>Want better results?</h3>
					<button ui-sref="profile" class="cta-profile" du-smooth-scroll="top" duration="1000">Edit Profile</button>
				</div>
			</div>
		</div>
	</div>
</div>
