@keyframes slide-in {
	0% {
		height: 0;
	}

	100% {
		height: 60px;
	}
}

.form-section {
	@include shadow();
	position: relative;
	background-color: $white;
	margin: 20px 0;
	padding: 20px;
	border-radius: 4px;
	z-index: 1;

	&.form-room,
	&.form-apartment,
	{
		padding: 10px 200px 10px 10px;
	}
	&.user-settings .floating-label {
		width: 100%;

		input.email-input {
			width: 500px !important;
		}

		input[type="number"] {
			width: 300px;
		}
	}
}

.profile-view {
	.strip {
		@include strip(400px, './assets/images/strip-profile.jpg', #6f6f6f);
		background-position-y: -400px;
		text-align: center;

		h2 {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
		}

		h3 {
			position: absolute;
			bottom: 10px;
			margin: 0;
			text-align: center;
			width: 100%;
		}

		.user-image-and-friends {
			@include vertical-align();

			.user-image {
				@include shadow();
				overflow: hidden;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				margin-bottom: 5px;
				display: inline-block;
				position: relative;

				img {
					width: 100%;
					height: auto;
				}
			}

			.user-friends {
				margin: 5px;

				.user-friends-list {
					margin: 0;
					list-style: none;
					padding: 0;

					.user-friend {
						display: inline;
						margin: 0 3px;
					}
				}
			}
		}
	}

	.user-container {
		position: relative;
		min-height: 500px;

		.user-info {
			@include input-field();
			p {
				margin: 0;
			}

			padding: 20px 20px 20px 30px;

			.user-info-option-list {
				list-style: none;

				.user-info-option {
					margin-top: 10px;

					.update-button {
						cursor: pointer;
						outline: none;
						position: absolute;
						right: 10px;
						bottom: 10px;
						padding: 10px;
						font-weight: lighter;
						display: block;
						font-size: 14px;
						background-color: $white;
						color: $link-blue;
						border: 1px solid $link-blue;
						border-radius: 20px;
						z-index: 1;
						transition: background-color .2s linear;

						&.upper-left {
							position: static;
						}

						&:hover {
							color: $white;
							background-color: $link-blue;
							transition: background-color .2s linear;
						}
					}
				}
			}

			.icon-arrow {
				@include icon($red);
				height: 20px;
				position: relative;

				svg {
					position: relative;
					top: 6px;
					height: 24px;
					width: 17px;
					transform: rotate(-90deg);
					transition: transform .3s linear;
				}

				&.open {
					svg {
						transform: rotate(0);
						transition: transform .3s linear;
					}
				}
			}
		}
	}

	.image-uploader {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.save-success-message {
		border: 1px solid $green;
		border-radius: 4px;
		padding: 5px;
		margin: 5px 0;
		font-size: 12px;
		color: $green;
		width: 100%;
		background-color: rgba($light-green, .3);
		opacity: 1;
	}
}
