<div class="app-view profile-view" ng-cloak>
	<div class="container">
		<div>
		</br>
		<h3>Hi {{ profile.user.firstName }}, this is your profile page.</h3>
		<hr>
		<p>You can review and update your personal settings on this page.</p>
		<div class="user-container">
			<div class="user-image">
				<img ng-src="{{ profile.user.photoUrl || './assets/images/user-photo-placeholder.png' }}" />
				<div class="edit-image-icon">
					<p><b>{{ profile.user.firstName }} {{ profile.user.lastName}}</b></p>
					<p>{{ profile.user.type | typeToString }}</p>
				</div>
			</div>
			<div class="user-info">
				<p>You are registered as an apartment {{ profile.user.type | typeToString }}.</p>
				<ul class="user-info-option-list">
					<li class="user-info-option">
						<a ng-click="profile.showPreferenceSelector()">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'"></span>
							My Preferences
						</a>
						<div class="user-preferences" ng-if="profile.openSettings.preferences && profile.preferences">
							<a class="update-link" ng-click="profile.updatePreferences()">Update</a>
							<preference-select ng-model="profile.preferences"></preference-select>
							<div class="offerer-preferences" ng-if="(profile.user.type | typeToString) === 'Offerer'">
								<span>Roomate gender:</span>
								<select name="offerer-gender-select" ng-model="profile.details.sexPreffered">
									<option value="any">Any</option>
									<option value="male">Male</option>
									<option value="female">Female</option>
								</select>
							</div>
							<div class="seeker-preferences" ng-if="(profile.user.type | typeToString) === 'Seeker'">
								<div>
									<p>City preference</p>
									<input type="text" ng-model="profile.details.city" placeholder="City"/>
								</div>
								<div>
									<p>Preffered price range</p>
									<input type="number" ng-model="profile.details.fromPrice" placeholder="From price"/>
									<input type="number" ng-model="profile.details.toPrice" placeholder="To price"/>
								</div>
							</div>
						</div>
					</li>
					<li class="user-info-option">
						<a ng-click="profile.showSettings()">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'"></span>
							My Settings
						</a>
						<div class="user-settings" ng-if="profile.openSettings.settings && profile.userSettings">
							<a class="update-link" ng-click="profile.updateSettings()">Update</a>
							<span>Send me email notifications to</span>
							<input type="email" ng-model="profile.userSettings.email" placeholder="Email"/>
						</div>
					</li>
					<li class="user-info-option" ng-if="(profile.user.type | typeToString) === 'Offerer'">
						<a ng-click="profile.showRoomOffering()">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'"></span>
							My Room Offering
						</a>
						<div class="user-details" ng-if="profile.openSettings.roomPost && profile.apartmentDetails && profile.roomDetails">
							<h4>Update the details for the room you have published</h4>
							<a class="update-link" ng-click="profile.updateRoomOffering()">Update</a>
							<p>My room offer</p>
							<room-details-form ng-model="profile.roomDetails"></room-details-form>
							<p>My apartment details</p>
							<apartment-details-form ng-model="profile.apartmentDetails"></apartment-details-form>
						</div>
					</li>
				</ul>
			</div>
			<div style="border: 1px solid black">
				<ul>
					<li ng-repeat="friend in profile.friendObjects">
						{{ friend.name }}
						<img style="width: 50px; height: 50px; border-radius: 50%" ng-src="{{ friend.picture }}"></img>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
