<div class="app-view profile-view" ng-cloak>
	<div class="strip">
		<h2>Hi {{ profile.user.firstName}}</h2>
		<h3>You are {{ (profile.user.type | typeToString) === 'Offerer' ? 'an Offerer' : 'a Seeker'}}. Review and update your personal settings here.</h3>
		<div class="user-image-and-friends">
			<div class="user-image">
				<img ng-src="{{ profile.user.photoUrl || './assets/images/user-photo-placeholder.png' }}" />
			</div>
			<div class="user-friends" ng-if="profile.userFriends.length > 0">
				<ul class="user-friends-list">
					<li class="user-friend" ng-repeat="friend in profile.userFriends | limitTo: 4">
						<img style="width: 50px; height: 50px; border-radius: 50%" ng-src="{{ friend.picture }}" title="{{ friend.name }}"></img>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="user-container">
			<div class="user-info">
				<div id="success-notification" class="save-success-message" ng-show="profile.isSuccessMessageVisible">
					<i class="fa fa-check"></i> Your profile has been updated.
				</div>
				<ul class="user-info-option-list">
					<li class="user-info-option">
						<a ng-click="profile.showPreferenceSelector()" du-smooth-scroll="anchor-profile" offset="80" duration="1000" id="anchor-profile">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'" ng-class="{ 'open': profile.openSettings.preferences }"></span>
							Your Profile
						</a>
						<div class="form-section user-preferences" ng-if="profile.openSettings.preferences && profile.preferences">
							<button class="update-button" ng-click="profile.updatePreferences()">Update</button>
							<preference-select ng-model="profile.preferences" mvp="profile.mostValuablePreferences"></preference-select>
							<div class="offerer-preferences" ng-if="(profile.user.type | typeToString) === 'Offerer'">
								<h4>Roommate gender</h4>
								<rm-select ng-model="profile.details.sexPreffered" options="['any','male','female']"></rm-select>
							</div>
							<div class="seeker-preferences" ng-if="(profile.user.type | typeToString) === 'Seeker'">
								<div>
									<h4>Choose your city</h4>
									<rm-select ng-model="profile.details.city" options="profile.cityOptions"></rm-select>
								</div>
								<div>
									<h4>Preffered price and number of roommates</h4>
									<input floating-label type="number" ng-model="profile.details.fromPrice" placeholder="From price"/>
									<input floating-label type="number" ng-model="profile.details.toPrice" placeholder="To price"/>
									<input floating-label type="number" ng-model="profile.details.numberOfRoomates" placeholder="Number of Roommates"/>
								</div>
							</div>
							<div class="about">
								<h4>What makes you an awesome roommate?</h4>
								<input floating-label type="text" size="100" maxlength="100" ng-model="profile.user.about" placeholder="Write something about yourself"/>
							</div>
						</div>
					</li>
					<li class="user-info-option">
						<a ng-click="profile.showSettings()" du-smooth-scroll="anchor-settings" offset="80" duration="1000" id="anchor-settings">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'" ng-class="{ 'open': profile.openSettings.settings }"></span>
							<!-- My Settings -->
							Notifiactions & Appearance Settings
						</a>
						<div class="form-section user-settings" ng-if="profile.openSettings.settings && profile.userSettings">
							<button class="update-button" ng-click="profile.updateSettings()">Update</button>
							<h3>Notification Email</h3>
							<div>Set up an email address to recieve notifications when contacted by a match</div>
							<input floating-label type="email" ng-model="profile.userSettings.email" placeholder="Email notifications address"/>
							<h3>Match appearance settings</h3>
							<input floating-label type="number" min="0" max="100" ng-model="profile.userSettings.minShowMatch" placeholder="Show me matches from (%)"/>
							<input floating-label type="number" min="0" max="100" ng-model="profile.userSettings.minIncludeMatch" placeholder="Include me in matches from (%)"/>
						</div>
					</li>
					<li class="user-info-option" ng-if="(profile.user.type | typeToString) === 'Offerer'">
						<a ng-click="profile.showRoomOffering()">
							<span class="icon icon-arrow" ng-include="'assets/icons/arrow-down.svg'" ng-class="{ 'open': profile.openSettings.roomPost }"></span>
							<!-- My Room Offering -->
							Post Details
						</a>
						<div class="user-details" ng-if="profile.openSettings.roomPost && profile.apartmentDetails && profile.roomDetails">
							<div class="form-section form-room">
								<button class="update-button upper-left" ng-click="profile.updateRoomOffering()">Update</button>
								<h3>My Room Details</h3>
								<room-details-form ng-model="profile.roomDetails"></room-details-form>
							</div>
							<div class="form-section form-apartment">
								<button class="update-button upper-left" ng-click="profile.updateRoomOffering()">Update</button>
								<h3>My Apartment Details</h3>
								<apartment-details-form ng-model="profile.apartmentDetails"></apartment-details-form>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
