$preference-score1: $green-light;
$preference-score2: $orange-light;
$preference-score3: $red-light;

.home-view {
	.strip {
		@include shadow();
		position: relative;
		width: 100%;
		height: 400px;
		background-image: url('../assets/images/strip.jpg');
		background-position: center;
		background-color: $black;
		background-blend-mode: overlay;

		.user-type-buttons-wrapper {
			width: 100%;
			position: absolute;
			display: block;
			text-align: center;
			margin-top: 50px;

			.button-big {
				@include button-big($red-light);
				color: $white;
				display: inline-block;
				position: relative;

				span {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
				}
			}
		}
	}

	.container {
		margin: 0 220px;

		h3 {
			font-size: 20px;
		}

		div {
			margin-top: 10px;
		}
	}

	input[type="text"],
	input[type="number"] {
		@include input-field($grey-xlight);
	}

	.preference-button {
		@include button($grey-xlight);

		width: 100px;
		height: 100px;
		color: $black;
		border: 0;

		&:hover {
			background-color: darken($grey-xlight, 10%);
		}

		&.preference-score1 {
			background-color: $preference-score1;
		}

		&.preference-score2 {
			background-color: $preference-score2;
		}

		&.preference-score3 {
			background-color: $preference-score3;
			color: $white;
		}
	}

	.register-button {
		@include button($green-light);
		font-size: 16px;
		color: $black;
		border-radius: 50px;
		width: 200px;
		height: 50px;
		margin: 10px 0;

		&:hover {
			background-color: darken($green-light, 5%);
		}
	}
}
