$preference-score1: $green-light;
$preference-score2: $orange-light;
$preference-score3: $red-light;

.home-view {
	.strip {
		@include shadow();
		position: relative;
		width: 100%;

		&.strip-home {
			height: 400px;
			background-image: url('../assets/images/strip.jpg');
			background-position: center;
			background-color: $black;
			background-blend-mode: overlay;

			.user-type-buttons-wrapper {
				width: 100%;
				position: absolute;
				display: block;
				text-align: center;
				margin-top: 50px;

				.button-seeking-for-room, .button-offering-a-room {
					@include button-big($red-light);
					color: $white;
					display: inline-block;
					position: relative;

					span {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						width: 100%;

						.icon {
							display: block;
							font-size: initial;
							transition: font-size .1s ease-out;
						}
					}

					&:hover {
						.icon {
							font-size: 22px;
							margin-bottom: 15px;
							transition: all .1s ease-in;
						}
					}
				}
			}
		}

		&.strip-headline {
			text-align: center;
			background: $color-bg-section-strip;
			h2 {
				margin: 0;
				padding: 10px 0;
				color: $grey-xlight;
			}

			h3 {
				margin: 0;
				padding: 5px 0;
				color: $grey-light;
			}

			.typewrite {
				color: $orange-light;
			}
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		@include input-field($grey-xlight);
	}

	.preference-button-wrapper {
		@include no-select();
		display: inline-block;
		position: relative;

		.preference-button {
			@include button($grey-xlight);

			width: 100px;
			height: 100px;
			color: $black;
			border: 0;
			position: relative;

			&.preference-score1 {
				background-color: $preference-score1;
			}

			&.preference-score2 {
				background-color: $preference-score2;
			}

			&.preference-score3 {
				background-color: $preference-score3;
			}

			.icon {
				@include icon();
				height: 30px;
				width: 100%;
				position: absolute;
				display: block;
				transition: all .1s ease-out;
			}

			.title {
				text-align: center;
				position: absolute;
				margin-top: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				transition: all .1s ease-out;
			}
		}

		&:hover {
			.icon {
				height: 40px;
				margin-bottom: 15px;
				transition: all .1s ease-in;
			}

			.title {
				padding-top: 20px;
				transition: padding-top .1s ease-in;
			}
		}
	}

	.register-button {
		@include button($green-light);
		font-size: 16px;
		color: $black;
		border-radius: 50px;
		width: 200px;
		height: 50px;
		margin: 10px 0;

		&:hover {
			background-color: darken($green-light, 5%);
		}
	}
}
