<div class="app-view home-view">
	<div class="strip strip-home">
		<div class="user-type-buttons-wrapper">

			<h2>What are you up to?</h2>
			<div class="button-seeking-for-room" ng-click="home.openSeekerRegister()">
				<span><i class="icon fa fa-search"></i>Seeking for a room</span>
			</div>
			<div class="button-offering-a-room" ng-click="home.openOffererRegister()">
				<span><i class="icon fa fa-bed"></i>Offering a room</span>
			</div>
		</div>
	</div>
	<div class="strip strip-headline" ng-hide="home.isSeekerRegistration || home.isOffererRegistration">
		<h2>Get the right roomate - get Roomatched!</h2>
		<h3>Connecting {{ home.totalUsers || 52 }} users to live together <span ab-typeit="home.cityOptions" typeit-loop="true" typeit-cursor="false" typeit-break-lines="false"></span></h3>
	</div>
	<div class="container homepage-container" ng-hide="home.isSeekerRegistration || home.isOffererRegistration">
		<h3>What is this about?</h3>
		<div>
			Roomatched is a project dedicated to helping people who are bla bla bla ...
		</div>
	</div>

	<div class="container registration-container">
		<div class="register register-seeker" ng-show="home.isSeekerRegistration">
			<h3>Looking for a room?</h3>
			<div class="registration-form">
				<p>Finding the perfect place starts by matching you to perfect people! Score your preferences here between: Neutral, <span class="label important">Important</span>, <span class="label somewhat-important">Somewhat important</span>, or <span class="label no-go">No go</span>.</p>
				<div>
					<div ng-repeat="(preferenceKey, title) in home.preferenceTitles" class="preference-button-wrapper">
						<i class="icon fa" ng-class="home.preferenceIcons[preferenceKey]"></i>
						<input type="button" class="preference-button preference-score{{ home.preferenceSelect[preferenceKey] }}" ng-click="home.preferenceClick(preferenceKey)" value="{{ title }}"/>
					</div>

					<div>
						<p>Next, choose an amazing city where you'd want to sattle:</p>
						<div>
							<input type="text" ng-model="home.seekerRegistrationFields.preferedCity" placeholder="Prefered city"/>
						</div>

						<p>And your price range preference right here:</p>
						<div>
							<input type="number" ng-model="home.seekerRegistrationFields.fromPrice" placeholder="From price"/>
							<input type="number" ng-model="home.seekerRegistrationFields.toPrice" placeholder="To price"/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="register register-offerer" ng-show="home.isOffererRegistration">
			<h3>Offering a room?</h3>
			<p>Finding the perfect roomate starts with a perfect match! Score your preferences here between Neutral, <span class="label important">Important</span>, <span class="label somewhat-important">Somewhat important</span>, or <span class="label no-go">No go</span>.</p>
			<div class="registration-form">
				<div ng-repeat="(preferenceKey, title) in home.preferenceTitles" class="preference-button-wrapper">
					<i class="icon fa" ng-class="home.preferenceIcons[preferenceKey]"></i>
					<input type="button" class="preference-button preference-score{{ home.preferenceSelect[preferenceKey] }}" ng-click="home.preferenceClick(preferenceKey)" value="{{ title }}"/>
				</div>

				<p>Give us some details about the room you are offering:</p>
				<div>
					<input type="number" ng-model="home.offererRoomDetails.price" placeholder="Room price"/>
					<input type="number" ng-model="home.offererRoomDetails.size" placeholder="Room size (m^2)"/>
					<input type="checkbox" ng-model="home.offererRoomDetails.isFurnished" /> Furniture
					<input type="checkbox" ng-model="home.offererRoomDetails.hasBalcony" /> Balcony
					<input type="checkbox" ng-model="home.offererRoomDetails.seperateBathroom" /> Seperate Bathroom
					<input type="checkbox" ng-model="home.offererRoomDetails.airConditioned" /> Air Conditioned
				</div>
				<p>Additional apartment details:</p>
				{{ home.offererApartmentDetails }}
				<div>
					<input type="number" ng-model="home.offererApartmentDetails.size" placeholder="Apartment size"/>
					<input type="text" ng-model="home.offererApartmentDetails.city" placeholder="City"/>
					<input type="text" ng-model="home.offererApartmentDetails.address" placeholder="Address"/>
					<input type="number" ng-model="home.offererApartmentDetails.floor" placeholder="Floor #"/>
					<input type="number" ng-model="home.offererApartmentDetails.totalRooms" placeholder="Total Rooms"/>
					<input type="number" ng-model="home.offererApartmentDetails.totalRoomates" placeholder="Total Roomates"/>
					<input type="number" ng-model="home.offererApartmentDetails.freeRooms" placeholder="Free rooms"/>
					<input type="number" ng-model="home.offererApartmentDetails.approximateExpences" placeholder="Approx. Expances"/>
					<br>
					<input type="checkbox" ng-model="home.offererApartmentDetails.isFurnished" /> Furniture
					<input type="checkbox" ng-model="home.offererApartmentDetails.hasLivingRoom" /> Living Room
					<input type="checkbox" ng-model="home.offererApartmentDetails.hasElevator" /> Elevator
					<input type="checkbox" ng-model="home.offererApartmentDetails.hasParking" /> Parking
					<input type="checkbox" ng-model="home.offererApartmentDetails.isRenovated" /> Renovated
				</div>
			</div>
		</div>


		<br>
		<div ng-show="home.isSeekerRegistration || home.isOffererRegistration">
			<h3>You are almost ready to get Roomatched!</h3>
			<p>Fill in the following information to complete the registration:</p>
			<form ng-submit="home.registerButtonClick()" name="userRegister">
				<div>
					<input type="text" ng-model="home.newUser.firstName" placeholder="First Name" name="firstName" required/>
					<input type="text" ng-model="home.newUser.lastName" placeholder="Last Name" name="lastName" required/>
					<input type="text" ng-model="home.newUser.sex" placeholder="Gender (Male/Female)" name="gender" required/>
				</div>
				<p>Login information to use on Roomatched:</p>
				<div>
					<input type="email" ng-model="home.newUser.email" placeholder="Email" name="email" required/>
					<input type="password" ng-model="home.newUser.password" placeholder="Desired password" name="password" required/>
				</div>

				<div>
					<input type="submit" class="register-button" value="Register"/>
				</div>
				<div class="register-error" ng-if="home.registrationHasErrors">
					There is a problem with your registration. Please review the information and try again.
				</div>
				<div class="register-success" ng-if="!home.registrationHasErrors && userRegister.$submitted">
					Registration was ok! Awesome!
				</div>
			</form>
		</div>
	</div>

</div>
</div>
