<div class="app-view home-view">
	<div class="strip strip-home">
		<div class="user-type-buttons-wrapper">

			<h2>What are you up to?</h2>
			<div class="button-seeking-for-room" ng-click="home.openSeekerRegister()">
				<span><i class="icon fa fa-search"></i>Seeking for a room</span>
			</div>
			<div class="button-offering-a-room" ng-click="home.openOffererRegister()">
				<span><i class="icon fa fa-bed"></i>Offering a room</span>
			</div>
		</div>
	</div>
	<div class="strip strip-headline" ng-hide="home.isSeekerRegistration || home.isOffererRegistration">
		<h2>Get the right roomate - get Roomatched!</h2>
		<h3>Connecting {{ home.totalUsers || 52 }} users to live together <span class="typeit" ab-typeit="home.cityOptions" typeit-loop="true" typeit-cursor="false" typeit-break-lines="false"></span></h3>
	</div>
	<div class="container homepage-container" ng-hide="home.isSeekerRegistration || home.isOffererRegistration">
		<h3>What is this about?</h3>
		<hr>
		<div>
			Roomatched is a project dedicated to helping people find the perfect place to live together.
			Whether you are looking to live with roomates, or looking for a roomate to join you in - Roomatched connects people by personal preferences. No surprises.
		</div>
		<h2>Apartments waiting just for you!</h2>
		<ul class="apartment-post-list">
			<li ng-repeat="apartmentPost in home.postList" class="apartment-post">
				<apartment-post content="apartmentPost"></apartment-post>
			</li>
		</ul>
	</div>

	<div class="container registration-container">
		<div class="register register-seeker" ng-show="home.isSeekerRegistration">
			<h3>Looking for a room?</h3>
			<hr>
			<div class="registration-form">
				<p>Finding the perfect place starts by matching you to perfect people! Score your preferences here between: Neutral, <span class="label important">Important</span>, <span class="label somewhat-important">Somewhat important</span>, or <span class="label no-go">No go</span>.</p>
				<div>
					<preference-select ng-model="home.preferenceSelect"></preference-select>
					<div>
						<div>
							<select name="city-select" ng-options="city as city for city in home.cityOptions" ng-model="home.seekerRegistrationFields.preferedCity">
								<option value="" disabled selected hidden>I am looking for an apartment in ..</option>
							</select>
						</div>

						<p>Price range:</p>
						<div>
							<input type="number" ng-model="home.seekerRegistrationFields.fromPrice" placeholder="From price"/>
							<input type="number" ng-model="home.seekerRegistrationFields.toPrice" placeholder="To price"/>
						</div>
						<br>
						<span>Preffered number of roomates</span>
						<input type="number" min="0" max="6" ng-model="home.seekerRegistrationFields.preferedNumberOfRoomates"/>
					</div>
				</div>
			</div>
		</div>

		<div class="register register-offerer" ng-show="home.isOffererRegistration">
			<h3>Offering a room?</h3>
			<hr>
			<p>Finding the perfect roomate starts with a perfect match! Score your preferences here between Neutral, <span class="label important">Important</span>, <span class="label somewhat-important">Somewhat important</span>, or <span class="label no-go">No go</span>.</p>
			<div class="registration-form">
				<preference-select ng-model="home.preferenceSelect"></preference-select>
				<select name="offerer-city-select" ng-options="city as city for city in home.cityOptions" ng-model="home.offererApartmentDetails.city">
					<option value="" disabled selected hidden>I am offering a room in..</option>
				</select>
				<input type="text" ng-model="home.offererApartmentDetails.address" placeholder="Address"/>
				<p>Give us some details about the room you are offering:</p>
				<room-details-form ng-model="home.offererRoomDetails"></room-details-form>
				<p>Additional apartment details:</p>
				<apartment-details-form ng-model="home.offererApartmentDetails"></apartment-details-form>
				<br>
				<span>Roomate gender:</span>
				<select name="offerer-gender-select" ng-model="home.offererSexPreffered">
					<option value="any" selected>Any</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				</select>
			</div>
		</div>

		<br>
		<div ng-show="home.isSeekerRegistration || home.isOffererRegistration">
			<h3>You are almost ready to get Roomatched!</h3>
			<p>Confirm your registration with Facebook to help us hook you up with more genuine results.</p>
			<form ng-submit="home.registerButtonClick()" name="userRegister">
				<div>
					<input type="submit" class="register-button" value="Sign up with Facebook"/>
				</div>
				<div class="register-error" ng-if="home.registrationHasErrors">
					There is a problem with your registration. Please review the information and try again.
				</div>
				<div class="register-success" ng-if="!home.registrationHasErrors && userRegister.$submitted">
					Registration was ok! Awesome!
				</div>
			</form>
		</div>
	</div>

</div>
</div>
