<div class="apartment-post-wrapper">
	<div class="post-content">
		<div class="post-image">
			<img ng-src="{{ post.content.room.photoUrl || './assets/images/apartment-photo-placeholder.png' }}"/>
		</div>
		<div class="post-details">
			<p class="post-address">{{ post.content.apartment.address }}<span class="post-city"> {{ post.content.apartment.city }}</span></p>

			<p class="post-price">{{ post.content.room.price }}</p>
			<ul class="apartment-icons">
				<li class="icon-wrapper" ng-repeat="(icon, url) in post.iconSet.apartmentIcons" ng-if="post.content.apartment[icon]">
					<span class="tooltip">{{ post.iconSet.apartmentIconsTitles[icon] }}</span>
					<span class="icon" ng-include="url"></span>
				</li>
			</ul>
		</div>
	</div>
</div>
