<div class="home-view-container">
	<button ng-click="home.openSeekerRegister()">Seeking for a room</button>
	<button ng-click="home.openOffererRegister()">Offering a room</button>
	<div class="register register-seeker" ng-show="home.showSeekerRegistration">
		<h3>Register as a Seeker</h3>
		{{ home.user }}
		<div class="registration-form">
			Email:
			<input ng-model="home.user.email" />
			First Name:
			<input ng-model="home.user.firstName" />
			Last Name:
			<input ng-model="home.user.lastName" />
		</div>
	</div>

	<div class="register register-offerer" ng-show="home.showOffererRegistration">
		<h3>Register as a Offerer</h3>
		<div class="registration-form">

		</div>
	</div>
</div>
