.home-view.home-mobile {
	display: block;
	background-color: $xlight-grey;
	height: 600px;

	.mobile-welcome {
		@include vertical-align();
		color: $red;
		text-align: center;
	}

	.mobile-description {
		@include vertical-align();
		text-align: center;
	}
}

.home-view {
	display: none;
}
