html {
	height: 100%;
}

body {
	background-color: $superlight-grey; // Ok because of device width

	.header {
		.header-content {
			.user-wrapper {
				right: 0;

				.user-info {
					.navigate-profile, .navigate-logout {
						display: none;
					}
				}
			}
		}

		h1 .beta {
			display: none;
		}
	}

	.app-view {
		.container {
			margin: 0;
		}
	}

	.footer {
		display: none;
	}
}
