<html ng-app="RoomatchedApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="icon" type="image/png" href="./assets/images/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="./assets/images/favicon-32x32.png" sizes="32x32" />

	<link rel="stylesheet" type="text/css" href="styles-concat.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/angular-tooltips/dist/angular-tooltips.min.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/angular-floating-label/dist/floating-label.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/ng-dialog/css/ngDialog.min.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
	<link rel="stylesheet" type="text/css" href="./bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<!-- Keep these scripts first! -->
	<script src="./bower_components/jquery/dist/jquery.js"></script>
	<script src="./bower_components/angular/angular.js"></script>
	<!-- End -->

	<!-- GMaps requirements -->
	<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCJUhxI3Wgw5WZ6qW3KSQHrzSFDvskueiQ'></script>
	<script src="./bower_components/ngmap/build/scripts/ng-map.min.js"></script>
	<!-- End GMaps requirements -->

	<script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="./bower_components/typeit/dist/typeit.min.js"></script>
	<script src="./bower_components/lodash/lodash.min.js"></script>
	<script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>
	<script src="./bower_components/cloudinary-core/cloudinary-core.min.js"></script>
	<script src="./bower_components/cloudinary_ng/js/angular.cloudinary.js"></script>
	<script src="./bower_components/ng-typeit/dist/angular-typeit.js"></script>
	<script src="./bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
	<script src="./bower_components/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
	<script src="./bower_components/angular-floating-label/dist/floating-label.js"></script>
	<script src="./bower_components/ng-dialog/js/ngDialog.min.js"></script>
	<script src="./bower_components/angular-scroll/angular-scroll.min.js"></script>

	<title ng-bind="$state.current.data.pageTitle"></title>

	<!-- Google Analytics -->
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83265218-1', 'auto');
  ga('send', 'pageview');
	</script>
</head>

<body ng-cloak>
	<script>
	// Load the Facebook SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	<div class="header">
		<div class="header-content">
			<h1 ui-sref="home" ui-sref-opts="{reload: true}">Roomatched<span class="beta"> BETA</span></h1>
			<div class="user-wrapper" ng-controller="LoginCtrl as login">
				<div class="login-form" ng-show="!login.isLoggedIn">
					<input type="button" class="sign-in-button" value="Sign in" ng-click="login.fbLogin()" ng-hide="login.signInFormVisible"/>
				</div>
				<div class="user-info" ng-show="login.loggedUser">
					<div class="user-greeting" ng-show="login.loggedUser">
						<span>Hi, {{ login.loggedUser.firstName }}</span>
						<span class="user-type">{{ login.loggedUser.type | typeToString }}</span>
					</div>
					<div class="user-image">
						<img ng-src="{{ login.loggedUser.photoUrl || './assets/images/user-photo-placeholder.png' }}" />
					</div>
					<ul class="user-menu">
						<li class="navigate-profile" ui-sref="profile"><div class="icon" ng-include="'assets/icons/profile.svg'"></div>Profile</li>
						<li class="navigate-matches" ui-sref="matches"><div class="icon" ng-include="'assets/icons/matching.svg'"></div>Matching</li>
						<li class="navigate-inbox" ui-sref="inbox"><div class="icon" ng-include="'assets/icons/inbox.svg'"></div>Inbox</li>
						<li class="navigate-logout" ng-click="login.fbLogout()"><div class="icon" ng-include="'assets/icons/logout.svg'"></div>Logout</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="content">
		<div ui-view class="main-view">
		</div>
	</div>

	<div class="footer">
		<p>Roomatched | By Boris Ablamunits, Or Bar and Gil Dadosh - an MTA project</p>
	</div>
</body>

<script src="./scripts-concat.js"></script>

</html>
