@font-face{
	font-family: "helvetica-neue";
	font-weight: 400;
	src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix");
	src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}

$font-family: 'helvetica-neue';

$black: #6B6B6B;
$red: #EB5635;
$light-red: #D99996;
$xlight-red: #F0D5D3;
$grey: #ADADAD;
$light-grey: #D4D2D2;
$xlight-grey: #f5efef;
$white: #FEFEFE;

$pref-red: rgb(238, 17, 43);
$pref-xlight-red: $light-red;
$pref-grey: $grey;
$pref-orange: #F5D76E;
$pref-green: #2ECC71;

$green: $pref-green;

$facebook-blue: #3B5998;

$link-blue: #89c3f2;

$preference-score2: $pref-green;
$preference-score1: $pref-orange;
$preference-score0: $pref-grey;
$preference-score-1: $pref-xlight-red;
$preference-score-2: $pref-red;

@mixin icon($color-fill: $light-grey) {
	pointer-events: none;
	fill: $color-fill;

	svg {
		height: inherit;
	}
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin button() {
	font-family: $font-family;
	font-size: 13px;
	padding: 1px;
	background-color: $white;
	color: $light-red;
	border: 0;
	border-radius: 4px;
	margin: 0 20px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: $light-red;
		color: $white;
	}
}

@mixin button-big() {
	@include button();
	@include shadow();
	font-size: 20px;
	width: 200px;
	height: 200px;
}

@mixin input-field() {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		height: 40px;
		font-size: 18px;
		font-family: $font-family;
		border: 1px solid $grey;
		border-radius: 4px;
		background-color: $white;
		padding: 10px;
		margin: 5px;
		outline: none;

		&:focus {
			background-color: lighten($xlight-red, 10%);
		}

		//+ label {
		//	position: absolute;
		//	left: 0;
		//}
		// TODO: Input field poppy label, if it has one ..
	}
}

@mixin select-box() {
	select {
		height: 40px;
		border: 1px solid $grey;
		background-color: $white;
		padding: 10px;
		margin: 5px;
		outline: none;
		font-size: 18px;
		font-family: $font-family;
		-webkit-appearance: menulist-button;
	}
}

@mixin shadow {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

$color-bg-main: $white;
$color-bg-header: $red;
$color-bg-section-strip: $white;
$color-text-main: $black;

$header-height: 60px;

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 400;
	color: $color-text-main;
	background-color: $color-bg-main;
	height: 100%;

	.header {
		@include shadow();
		position: fixed;
		z-index: 999;
		height: $header-height;
		width: 100%;
		top: 0;
		background-color: rgba($color-bg-header, .95);

		.header-content {
			position: relative;

			h1 {
				margin-left: 20px;
				cursor: pointer;
				display: inline;
				position: absolute;
				font-size: 25px;
				color: $white;
				font-weight: bold;
			}

			.user-wrapper {
				height: 100%;
				width: 140px;
				position: relative;
				right: 20px;
				float: right;
				color: $white;

				&:hover {
					cursor: pointer;
					.user-info {
						background: darken($red, 1%);
					}
				}

				.sign-in-button {
					@include button();
					position: absolute;
					width: 100px;
					height: 30px;
					top: 15px;
					border-radius: 20px;
				}

				.sign-in-form {
					@include input-field();
					position: absolute;
					display: inline-flex;
					right: 0;
					top: 5px;

					[type="submit"] {
						@include button();
						margin: 0 0 0 5px;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						position: relative;
						top: 5px;
					}
				}

				.user-info {
					height: inherit;
					top: 10px;
					padding: 0 5px;

					.user-greeting {
						@include vertical-align();
						position: absolute;
					}

					.user-image {
						@include vertical-align();
						@include shadow();
						width: 35px;
						height: 35px;
						border-radius: 50%;
						overflow: hidden;
						float: right;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					ul.user-menu {
						@include shadow();
						display: none;
						position: absolute;
						opacity: 0;
						top: 44px;
						left: 0;
						background-color: rgba($red, .9);
						width: 140px;
						padding: 0;
						border-bottom-right-radius: 4px;
						border-bottom-left-radius: 4px;

						.icon {
							@include icon();
							height: 30px;
							display: inline;
							position: absolute;
							left: 10px;
							top: 12px;
						}

						li {
							list-style: none;
							padding: 15px 10px 15px 40px;
							position: relative;

							&:last-child {
								border-bottom-right-radius: 4px;
								border-bottom-left-radius: 4px;
							}

							&:hover {
								background-color: rgba($xlight-red, .9);
								color: $red;

								.icon {
									fill: $red;
								}
							}
						}
					}

					&:hover {
						> .user-menu {
							display: block;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	h2 {
		font-size: 28px;
	}

	hr {
		border: 0;
		height: 0;
		border-top: 1px solid $light-red;
	}

	// Override browser fieldset
	fieldset {
		border: 0;
		padding: 0;
		margin: 0;
		position: relative;
		display: inline
	}

	.content {
		min-height: 100%;
		height: auto !important;
		position: relative;
		margin: $header-height auto;

		.label {
			&.important {
				color: $pref-green;
			}

			&.somewhat-important {
				color: $pref-orange;
			}

			&.no-go {
				color: $pref-red;
			}
		}
	}

	.app-view {
		.container {
			margin: 0 120px;
			background-color: lighten($light-grey, 15%);
			padding: 20px 15px;

			h3 {
				font-size: 20px;
			}

			a {
				color: $light-red;
				font-weight: bold;
				cursor: pointer;

				&:hover {
					color: $red;
				}
			}

			div {
				//margin-top: 10px;
				line-height: 25px;
				font-size: 18px;
			}
		}

	}

	.footer {
		@include shadow();
		height: 100px;
		width: 100%;
		bottom: 0;
		background-color: $color-bg-section-strip;
		color: $grey;
		position: relative;

		p {
			position: absolute;
			margin: 20px auto;
			width: 100%;
			text-align: center;
			font-size: 16px;
		}
	}
}

// Pages
@import './pages/home/home';
@import './pages/profile/profile';
@import './pages/matches/matches';
@import './pages/inbox/inbox';

// Directives
@import './directives/apartment-post/apartment-post';
@import './directives/match-post/seeker-match-post';
@import './directives/match-post/offerer-match-post';
@import './directives/preference-select/preference-select';
@import './directives/preference-viewer/preference-viewer';

// Assets and commons
@import './common/tooltips/tooltips';
