@font-face{
	font-family: "helvetica-neue";
	font-weight: 400;
	src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix");
	src:url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}

@mixin icon() {
	pointer-events: none;
	fill: $black;
	text-align: center;

	svg {
		height: inherit;
	}
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin button($color) {
	font-family: $font-family;
	font-size: 13px;
	padding: 1px;
	background-color: $color;
	color: $black;
	border-radius: 4px;
	margin: 0 20px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: $white;
		color: $black;
	}
}

@mixin button-big($color) {
	@include button($color);
	@include shadow();
	font-size: 20px;
	width: 200px;
	height: 200px;
}

@mixin input-field($color) {
	height: 40px;
	font-size: 21px;
	font-family: $font-family;
	border: 0;
	border-radius: 4px;
	background-color: $white;
	padding: 10px;
	margin: 5px 5px;
	outline: none;

	&:focus {
		background-color: lighten($orange-light, 20%);
	}
}

@mixin shadow {
	box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.2);
}

$font-family: 'helvetica-neue';

$black: #3E4453;
$grey: #907D7B;
$grey-light: #A2A2A1;
$grey-xlight: #D8D9D6;
$white: #F9FAF9;
$red-light: #D69B8A;
$orange-light: #E2CD90;
$green-light: #9de8a2;

$color-button: $white;
$color-button-text: $grey;
$color-bg-main: $black;
$color-bg-header: darken($black, 100%);
$color-bg-section-strip: darken($black, 4%);
$color-text-main: $white;

$header-height: 60px;

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 400;
	color: $color-text-main;
	background-color: $color-bg-main;

	.header {
		@include shadow();
		position: fixed;
		z-index: 999;
		height: $header-height;
		width: 100%;
		top: 0;
		background-color: rgba($color-bg-header, .9);

		.header-content {
			position: relative;

			h1 {
				margin-left: 20px;
				display: inline;
				position: absolute;
				font-size: 25px;
				color: $red-light;
				font-weight: bold;
			}

			.user-wrapper {
				height: 100%;
				width: 140px;
				position: absolute;
				right: 20px;

				.sign-in-button {
					@include button($red-light);
					position: absolute;
					width: 100px;
					height: 30px;
					top: 15px;
					border: 0;
					border-radius: 20px;
					color: $white;

					&:hover {
						color: $black;
					}
				}
			}
		}
	}

	h2 {
		font-size: 28px;
	}

	.content {
		margin: $header-height 0;

		.label {
			&.important {
				color: $green-light;
			}

			&.somewhat-important {
				color: $orange-light;
			}

			&.no-go {
				color: $red-light;
			}
		}
	}

	.app-view {
		.container {
			margin: 0 220px;

			h3 {
				font-size: 20px;
			}

			div {
				margin-top: 10px;
			}
		}
	}

	.footer {
		@include shadow();
		height: 100px;
		width: 100%;
		bottom: 0;
		background-color: $color-bg-section-strip;
		color: $grey;
		position: relative;

		p {
			position: absolute;
			margin: 20px auto;
			width: 100%;
			text-align: center;
			font-size: 16px
		}
	}
}

@import './pages/home/home';
