@font-face {
  font-family: "helvetica-neue";
  font-weight: 100;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/41774233-b9da-44be-b252-6a7b612fb1c7.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/4bff1fbb-b4bf-4d95-9c47-efcb14384e36.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7f1f2a7d-3837-4c93-b373-f03c5da3f9a1.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/d9f2752a-8d82-4cf1-b82f-109c1105be7f.svg#d9f2752a-8d82-4cf1-b82f-109c1105be7f") format("svg");
}
@font-face {
  font-family: "helvetica-neue";
  font-weight: 300;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}
@font-face {
  font-family: "helvetica-neue";
  font-weight: 400;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face {
  font-family: "helvetica-neue";
  font-weight: 500;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
@font-face {
  font-family: "helvetica-neue";
  font-weight: 600;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/07fe0fec-b63f-4963-8ee1-535528b67fdb.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/60be5c39-863e-40cb-9434-6ebafb62ab2b.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/4c6503c9-859b-4d3b-a1d5-2d42e1222415.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/36c182c6-ef98-4021-9b0d-d63122c2bbf5.svg#36c182c6-ef98-4021-9b0d-d63122c2bbf5") format("svg");
}
@font-face {
  font-family: "helvetica-neue";
  font-weight: 700;
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix");
  src: url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/c07fef9e-a934-42d7-92ad-69205f2b8a00.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/14ff6081-326d-4dae-b778-d7afa66166fc.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/8fda1e47-19be-46c7-8d83-8d4fb35572f0.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/Helvetica/Fonts/f751c8ae-1057-46d9-8d74-62592e002568.svg#f751c8ae-1057-46d9-8d74-62592e002568") format("svg");
}

// Assets and commons
@import './common/tooltips/tooltips';
@import './common/loader/loader';

$font-family: 'helvetica-neue';

$black: #6B6B6B;
$red: #EB5635;
$orange: #F5D76E;
$light-red: #D99996;
$xlight-red: #F0D5D3;
$grey: #ADADAD;
$light-grey: #D4D2D2;
$xlight-grey: #f5efef;
$superlight-grey: #faf6f6;
$white: #FEFEFE;

$pref-red: rgb(238, 17, 43);
$pref-xlight-red: $light-red;
$pref-grey: $grey;
$pref-orange: $orange;
$pref-green: #2ECC71;

$green: $pref-green;
$light-green: #ceebda;

$facebook-blue: #3B5998;

$link-blue: #89c3f2;

$preference-score2: $pref-green;
$preference-score1: $pref-orange;
$preference-score0: $pref-grey;
$preference-score-1: $pref-xlight-red;
$preference-score-2: $pref-red;

@mixin icon($color-fill: $grey) {
	pointer-events: none;
	fill: $color-fill;

	svg {
		height: inherit;
	}
}

@mixin strip($height, $image-url, $color-overlay: #525252) {
	@include shadow();
	position: relative;
	width: 100%;
	background-image: url($image-url);
	height: $height;
	background-position: center;
	background-size: cover;
	transition: backgrond-image 1s ease-in-out;
	background-color: $color-overlay;
	background-blend-mode: overlay;
	background-attachment: fixed;

	h2 {
		color: $white;
		font-size: 42px;
		text-shadow: 0 0 1px rgba(0,0,0,0.6)
	}

	h3 {
		color: $white;
		font-size: 24px;
		text-shadow: 0 0 1px, rgba(0, 0, 0, 0.6);
	}
}

@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin button() {
	font-family: $font-family;
	font-size: 13px;
	padding: 1px;
	background-color: $white;
	color: $light-red;
	border: 0;
	border-radius: 4px;
	margin: 0 20px;
	cursor: pointer;
	outline: none;

	&:hover {
		background-color: $light-red;
		color: $white;
	}
}

@mixin cta-button() {
	outline: none;
	border: 1px solid $red;
	background-color: transparent;
	color: $red;
	border-radius: 40px;
	padding: 10px 15px;
	cursor: pointer;
	transition: all .2s linear;
	font-size: 16px;
	font-weight: 300;
	margin-top: 25px;

	&:hover {
		background-color: $red;
		color: $white;
		transition: all .2s linear;
	}
}

@mixin button-big() {
	@include button();
	@include shadow();
	font-size: 20px;
	width: 200px;
	height: 200px;
}

@mixin input-field() {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		height: 40px;
		font-size: 18px;
		font-family: $font-family;
		border: 1px solid $grey;
		border-radius: 4px;
		background-color: $white;
		padding: 10px;
		margin: 5px;
		outline: none;
		max-width: 500px;

		&:focus {
			background-color: lighten($xlight-red, 10%);
			border: 1px solid darken($grey, 3%);
		}
	}
}

@mixin select-box() {
	select {
		height: 40px;
		border: 1px solid $grey;
		background-color: $white;
		padding: 10px;
		margin: 5px;
		outline: none;
		font-size: 18px;
		font-family: $font-family;
		-webkit-appearance: menulist-button;
	}
}

@mixin shadow {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

@mixin ellipsis-line {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin roomatched-image-modal() {
	max-width: 100%;

	.ngdialog-overlay {
		background: rgba(darken(#777777, 50%), .85);
	}

	.ngdialog-open {
		height: auto !important;
		overflow: auto !important;
	}

	.ngdialog-close {
		color: $white;

		&:before {
			display: none;
		}

		&:hover {
			color: $red;
		}
	}

	img {
		width: 100%;
	}

	h3 {
		font-family: $font-family;
		color: $red !important;
		margin: 20px 0;
		font-size: 42px;
	}

	p {
		color: $black !important;
		font-family: $font-family;
		margin: 0;

		&:last-of-type {
			margin-bottom: 10px;
		}
	}

	.secondary-text {
		color: $grey !important;
		font-size: 14px;
	}
}

$color-bg-main: $white;
$color-bg-header: $red;
$color-bg-section-strip: $white;
$color-text-main: $black;

$header-height: 60px;

body {
	margin: 0;
	font-family: $font-family;
	font-weight: 300;
	letter-spacing: .05em;
	color: $color-text-main;
	background-color: $color-bg-main;

	.roomatched-image-modal {
		@include roomatched-image-modal();
	}

	.header {
		@include shadow();
		position: fixed;
		z-index: 999;
		height: $header-height;
		width: 100%;
		top: 0;
		background-color: rgba($color-bg-header, .95);

		.header-content {
			position: relative;

			h1 {
				margin-left: 20px;
				cursor: pointer;
				display: inline;
				position: absolute;
				font-size: 25px;
				color: $white;
				font-weight: 300;

				.beta {
					font-size: 10px;
					position: absolute;
					bottom: 0;
					opacity: .5;
				}
			}

			.user-wrapper {
				height: 100%;
				width: 140px;
				position: relative;
				right: 20px;
				float: right;
				color: $white;

				&:hover {
					cursor: pointer;
					.user-info {
						background: darken($red, 1%);
					}
				}

				.sign-in-button {
					@include button();
					position: absolute;
					width: 100px;
					height: 30px;
					top: 15px;
					border-radius: 20px;
				}

				.sign-in-form {
					@include input-field();
					position: absolute;
					display: inline-flex;
					right: 0;
					top: 5px;

					[type="submit"] {
						@include button();
						margin: 0 0 0 5px;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						position: relative;
						top: 5px;
					}
				}

				.user-info {
					height: inherit;
					top: 10px;
					padding: 0 5px;

					.user-greeting {
						@include vertical-align();
						position: absolute;
						transition: transform .2s;

						.user-type {
							position: absolute;
							font-size: 11px;
							color: $xlight-red;
							opacity: 0;
							margin: 3px 0;
							transition: opacity .2s;
						}
					}

					.user-image {
						@include vertical-align();
						@include shadow();
						width: 35px;
						height: 35px;
						border-radius: 50%;
						overflow: hidden;
						float: right;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					ul.user-menu {
						@include shadow();
						display: none;
						position: absolute;
						opacity: 0;
						top: 44px;
						left: 0;
						background-color: rgba($red, .9);
						width: 140px;
						padding: 0;
						border-bottom-right-radius: 4px;
						border-bottom-left-radius: 4px;

						.icon {
							@include icon($light-grey);
							height: 30px;
							display: inline;
							position: absolute;
							left: 10px;
							top: 12px;
						}

						li {
							list-style: none;
							padding: 15px 10px 15px 40px;
							position: relative;

							&:last-child {
								border-bottom-right-radius: 4px;
								border-bottom-left-radius: 4px;
							}

							&:hover {
								background-color: rgba($xlight-red, .9);
								color: $red;

								.icon {
									fill: $red;
								}
							}
						}
					}

					&:hover {
						> .user-menu {
							display: block;
							opacity: 1;
						}

						.user-greeting {
							transform: translateY(-15px);
							transition: transform .2s;
						}

						.user-type {
							opacity: 1;
							transition: opacity .2s;
						}
					}
				}
			}
		}
	}

	h2 {
		font-size: 28px;
		font-weight: 400;
	}

	h3 {
		font-weight: 400;
	}

	h4 {
		font-weight: 400;
	}

	hr {
		border: 0;
		height: 0;
		border-top: 1px solid $light-red;
	}

	.floating-label {
		display: inline-block;
	}

	.content {
		height: auto !important;
		position: relative;
		margin-top: $header-height;

		.label {
			&.important {
				color: $pref-green;
			}

			&.somewhat-important {
				color: $pref-orange;
			}

			&.no-go {
				color: $pref-red;
			}
		}
	}

	.app-view {
		.container {
			margin: 0 120px;
			background-color: lighten($light-grey, 15%);
			padding: 20px 15px;

			h3 {
				font-size: 20px;
				//width: 900px;
				//margin: 10px auto;
			}

			a {
				color: $light-red;
				//font-weight: bold;
				cursor: pointer;
				text-decoration: none;

				&:hover {
					color: $red;
				}
			}

			div {
				//width: 900px;
				//margin: 0 auto;
				line-height: 25px;
				font-size: 18px;
			}
		}
	}

	.footer {
		@include shadow();
		height: 100px;
		width: 100%;
		bottom: 0;
		background-color: $color-bg-section-strip;
		color: $grey;
		position: relative;

		p {
			position: absolute;
			margin: 20px auto;
			width: 100%;
			text-align: center;
			font-size: 16px;
		}

		a:hover {
			cursor: pointer;

			.fa-twitter {
				color: lighten($facebook-blue, 40%);
			}

			.fa-facebook {
				color: $facebook-blue;
			}

			.fa-google-plus {
				color: $red;
			}
		}
	}
}

// Pages
@import './pages/home/home';
@import './pages/profile/profile';
@import './pages/matches/matches';
@import './pages/inbox/inbox';

// Directives
@import './directives/apartment-post/apartment-post';
@import './directives/match-post/seeker-match-post';
@import './directives/match-post/offerer-match-post';
@import './directives/preference-select/preference-select';
@import './directives/preference-viewer/preference-viewer';
@import './directives/apartment-details-form/apartment-details-form';
@import './directives/room-details-form/room-details-form';
@import './directives/rm-selectbox/rm-selectbox';
@import './directives/rm-checkbox/rm-checkbox';

// Mobile
@media (max-device-width: 480px) {
	@import './mobile/main.m';
	@import './mobile/home.m';
	@import './mobile/matches.m';
	@import './mobile/inbox.m';
}
